# Setting up Different DFs

- usc_time = A set of US confirmed CASES with a datetime index
- usd_tome = A set of US confirmed DEATHS with a datetime index
- usr_time = A set of US confirmed RECOVERIES with a datetime index

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [62]:
confirmed = pd.read_csv( "../csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")
deaths = pd.read_csv("../csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv")
recovered = pd.read_csv("../csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv")
cases_g = pd.read_csv("../csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
deaths_g = pd.read_csv("../csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")

# Confirmed Cases

In [42]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0

### USA

In [43]:
usCases = confirmed[confirmed["Country/Region"] == "US"]

In [44]:
usCases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
98,Washington,US,47.4009,-121.4905,0,0,0,0,0,0,...,572,643,904,1076,1014,1376,1524,1793,1996,1996.0
99,New York,US,42.1657,-74.9481,0,0,0,0,0,0,...,525,732,967,1706,2495,5365,8310,11710,15793,15793.0
100,California,US,36.1162,-119.6816,0,0,0,0,0,0,...,340,426,557,698,751,952,1177,1364,1642,1642.0
101,Massachusetts,US,42.2302,-71.5301,0,0,0,0,0,0,...,138,164,197,218,218,328,413,525,646,646.0
102,Diamond Princess,US,35.4437,139.6380,0,0,0,0,0,0,...,46,46,47,47,47,47,49,49,49,49.0

In [45]:
usc_time = usCases.drop(columns=["Country/Region", "Lat","Long"]).T

In [46]:
usc_time.columns = usc_time.iloc[0]

In [47]:
usc_time = usc_time.drop('Province/State')

In [48]:
usc_time.index = pd.to_datetime(usc_time.index)

In [49]:
usc_time.isna().sum().sort_values(ascending=False)

Province/State
Alameda County, CA       1
Montgomery County, PA    1
Rockingham County, NH    1
Fairfax County, VA       1
Volusia County, FL       1
                        ..
Utah                     0
Oklahoma                 0
Hawaii                   0
Connecticut              0
Washington               0
Length: 249, dtype: int64

In [50]:
usc_time.head()

Province/State,Washington,New York,California,Massachusetts,Diamond Princess,Grand Princess,Georgia,Colorado,Florida,New Jersey,...,"Bernalillo, NM","Oakland, MI","Wayne, MI","New Castle, DE",Alabama,Puerto Rico,Guam,Virgin Islands,United States Virgin Islands,US
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
# usc_time.to_csv('usc-3-23.csv')

# Confirmed Deaths

In [51]:
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1.0
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,22,22,27,29,29,29,33,35,40,40.0
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,2,2,2,3,4,10,10.0

### USA

In [52]:
usDeaths = deaths[deaths["Country/Region"] == "US"]

In [53]:
usDeaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
98,Washington,US,47.4009,-121.4905,0,0,0,0,0,0,...,37,40,48,55,55,74,83,94,95,95.0
99,New York,US,42.1657,-74.9481,0,0,0,0,0,0,...,2,3,10,13,16,34,42,60,117,117.0
100,California,US,36.1162,-119.6816,0,0,0,0,0,0,...,5,6,7,12,13,18,23,24,30,30.0
101,Massachusetts,US,42.2302,-71.5301,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,5,5.0
102,Diamond Princess,US,35.4437,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [54]:
usd_time = usDeaths.drop(columns=["Country/Region", "Lat","Long"]).T

In [55]:
usd_time.columns = usd_time.iloc[0]

In [56]:
usd_time = usd_time.drop('Province/State')

In [57]:
usd_time.index = pd.to_datetime(usd_time.index)

In [58]:
usd_time.isna().sum().sort_values(ascending=False)

Province/State
Alameda County, CA       1
Montgomery County, PA    1
Rockingham County, NH    1
Fairfax County, VA       1
Volusia County, FL       1
                        ..
Utah                     0
Oklahoma                 0
Hawaii                   0
Connecticut              0
Washington               0
Length: 249, dtype: int64

In [59]:
usd_time.head()

Province/State,Washington,New York,California,Massachusetts,Diamond Princess,Grand Princess,Georgia,Colorado,Florida,New Jersey,...,"Bernalillo, NM","Oakland, MI","Wayne, MI","New Castle, DE",Alabama,Puerto Rico,Guam,Virgin Islands,United States Virgin Islands,US
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
# usd_time.to_csv('usd-3-23.csv')

# Recoveries

In [22]:
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,35,35,35,41,42,42,42,42,44,44.0
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,118,118,144,144,144,150,191,232,235,235.0
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,105,105,109,114,114,114,124,140,144,144.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,35,42,42,49,60,75,87,114,139,139.0

### USA

In [23]:
usRevovered = recovered[recovered["Country/Region"] == "US"]

In [24]:
usRevovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
98,Washington,US,47.4009,-121.4905,0,0,0,0,0,0,...,1,1,1,1,0,0,0,0,0,0.0
99,New York,US,42.1657,-74.9481,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
100,California,US,36.1162,-119.6816,0,0,0,0,0,0,...,6,6,6,6,0,0,0,0,0,0.0
101,Massachusetts,US,42.2302,-71.5301,0,0,0,0,0,0,...,1,1,1,1,0,0,0,0,0,0.0
102,Diamond Princess,US,35.4437,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [25]:
usr_time = usRevovered.drop(columns=["Country/Region", "Lat","Long"]).T

In [26]:
usr_time.columns = usr_time.iloc[0]

In [27]:
usr_time = usr_time.drop('Province/State')

In [28]:
usr_time.index = pd.to_datetime(usr_time.index)

In [29]:
usr_time.isna().sum().sort_values(ascending=False)

Province/State
Alameda County, CA       1
Montgomery County, PA    1
Rockingham County, NH    1
Fairfax County, VA       1
Volusia County, FL       1
                        ..
Utah                     0
Oklahoma                 0
Hawaii                   0
Connecticut              0
Washington               0
Length: 249, dtype: int64

In [30]:
usd_time.head()

Province/State,Washington,New York,California,Massachusetts,Diamond Princess,Grand Princess,Georgia,Colorado,Florida,New Jersey,...,"Bernalillo, NM","Oakland, MI","Wayne, MI","New Castle, DE",Alabama,Puerto Rico,Guam,Virgin Islands,United States Virgin Islands,US
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
# usr_time.to_csv('usr-3-23.csv')

# Confimed Cases Globally

In [72]:
cases_g[cases_g['Country/Region'] == 'China']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20
49,Anhui,China,31.8257,117.2264,1,9,15,39,60,70,...,990,990,990,990,990,990,990,990,990,990
50,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,442,452,456,469,480,491,504,522,537,558
51,Chongqing,China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,577,578,578
52,Fujian,China,26.0789,117.9874,1,5,10,18,35,59,...,296,296,296,296,296,299,303,313,313,318
53,Gansu,China,37.8099,101.0583,0,2,2,4,7,14,...,133,133,133,133,134,134,134,136,136,136
54,Guangdong,China,23.3417,113.4244,26,32,53,78,111,151,...,1360,1361,1364,1370,1378,1395,1400,1413,1415,1428
55,Guangxi,China,23.8298,108.7881,2,5,23,23,36,46,...,252,252,253,253,253,254,254,254,254,254
56,Guizhou,China,26.8154,106.8748,1,3,3,4,5,7,...,146,146,147,146,146,146,146,146,146,146
57,Hainan,China,19.1959,109.7453,4,5,8,19,22,33,...,168,168,168,168,168,168,168,168,168,168
58,Hebei,China,39.5490,116.1306,1,1,2,8,13,18,...,318,318,318,318,318,318,318,319,319,319
59,Heilongjiang,China,47.8620,127.7615,0,2,4,9,15,21,...,482,482,482,482,483,484,484,484,484,484
60,Henan,China,33.8820,113.6140,5,5,9,32,83,128,...,1273,1273,1273,1273,1273,1273,1273,1274,1274,1274
61,Hong Kong,China,22.3000,114.2000,0,2,2,5,8,8,...,145,155,162,181,208,256,273,317,356,386
62,Hubei,China,30.9756,112.2707,444,444,549,761,1058,1423,...,67794,67798,67799,67800,67800,67800,67800,67800,67800,67801
63,Hunan,China,27.6104,111.7088,4,9,24,43,69,100,...,1018,1018,1018,1018,1018,1018,1018,1018,1018,1018
64,Inner Mongolia,China,44.0935,113.9448,0,0,1,7,7,11,...,75,75,75,75,75,75,75,75,75,75
65,Jiangsu,China,32.9711,119.4550,1,5,9,18,33,47,...,631,631,631,631,631,631,631,633,633,636
66,Jiangxi,China,27.6140,115.7221,2,7,18,18,36,72,...,935,935,935,935,935,935,935,936,936,936
67,Jilin,China,43.6661,126.1923,0,1,3,4,4,6,...,93,93,93,93,93,93,93,93,93,93
68,Liaoning,China,41.2956,122.6085,2,3,4,17,21,27,...,125,125,125,125,125,126,126,127,127,127
69,Macau,China,22.1667,113.5500,1,2,2,2,5,6,...,10,11,12,15,17,17,18,24,24,25
70,Ningxia,China,37.2692,106.1655,1,1,2,3,4,7,...,75,75,75,75,75,75,75,75,75,75
71,Qinghai,China,35.7452,95.9956,0,0,0,1,1,6,...,18,18,18,18,18,18,18,18,18,18
72,Shaanxi,China,35.1917,108.8701,0,3,5,15,22,35,...,245,245,246,246,246,247,248,248,248,249
73,Shandong,China,36.3427,118.1498,2,6,15,27,46,75,...,760,760,761,761,761,762,764,767,768,768
74,Shanghai,China,31.2020,121.4491,9,16,20,33,40,53,...,353,355,358,361,363,371,380,404,404,414
75,Shanxi,China,37.5777,112.2922,1,1,1,6,9,13,...,133,133,133,133,133,133,133,133,134,134
76,Sichuan,China,30.6171,102.7103,5,8,15,28,44,69,...,539,539,540,540,540,541,542,543,543,545
77,Tianjin,China,39.3054,117.3230,4,4,8,10,14,23,...,136,136,136,136,137,137,137,137,141,145
78,Tibet,China,31.6927,88.0924,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
79,Xinjiang,China,41.1129,85.2401,0,2,2,3,4,5,...,76,76,76,76,76,76,76,76,76,76
80,Yunnan,China,24.9740,101.4870,1,2,5,11,16,26,...,174,176,176,176,176,176,176,176,176,176
81,Zhejiang,China,29.1832,120.0934,10,27,43,62,104,128,...,1231,1231,1232,1232,1233,1234,1236,1238,1238,1240

In [82]:
cases_g = cases_g.groupby("Country/Region").sum().T.drop(['Lat','Long'])

In [85]:
cases_g.index = pd.to_datetime(cases_g.index)

In [86]:
cases_g

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uganda,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-20,24.0,70.0,90.0,75.0,1.0,1.0,128.0,136.0,791.0,2388.0,...,0.0,29.0,140.0,4014.0,94.0,33.0,42.0,91.0,2.0,1.0
2020-03-21,24.0,76.0,139.0,88.0,2.0,1.0,158.0,160.0,1071.0,2814.0,...,1.0,47.0,153.0,5067.0,110.0,43.0,70.0,94.0,2.0,3.0
2020-03-22,40.0,89.0,201.0,113.0,2.0,1.0,266.0,194.0,1549.0,3582.0,...,1.0,73.0,153.0,5745.0,158.0,43.0,70.0,113.0,3.0,3.0
2020-03-23,40.0,104.0,230.0,133.0,3.0,3.0,301.0,235.0,1682.0,4474.0,...,9.0,73.0,198.0,6726.0,162.0,46.0,77.0,123.0,3.0,3.0
2020-03-24,74.0,123.0,264.0,164.0,3.0,3.0,387.0,249.0,2044.0,5283.0,...,9.0,97.0,248.0,8164.0,162.0,50.0,84.0,134.0,3.0,3.0

In [90]:
# cases_g.to_csv('cases_g_3-24.csv')

# Deaths Globally

In [32]:
deaths_g = pd.read_csv("../csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")

In [33]:
deaths_g.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1,1,1,2,2,2,2,2,4,5
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,4,4,4,7,9,11,15,17,17,19
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
deaths_g[deaths_g['Country/Region'] == 'US']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20
225,NaN,US,37.0902,-95.7129,0,0,0,0,0,0,...,63,85,108,118,200,244,307,417,557,706

In [35]:
# deaths_g = deaths_g.drop(columns=['Province/State', 'Lat', 'Long'])
# deaths_g = deaths_g.T
# deaths_g.columns = deaths_g.iloc[0]
# deaths_g = deaths_g.drop('Country/Region')

In [91]:
deaths_g = deaths_g.groupby("Country/Region").sum().T.drop(['Lat','Long'])

In [92]:
deaths_g.index = pd.to_datetime(deaths_g.index)

In [93]:
deaths_g.head()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uganda,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
deaths_g.isna().sum().sort_values(ascending=False)

Country/Region
Zimbabwe       0
Estonia        0
Georgia        0
Gambia         0
Gabon          0
              ..
Nepal          0
Namibia        0
Mozambique     0
Morocco        0
Afghanistan    0
Length: 170, dtype: int64

In [95]:
deaths_g['US']

2020-01-22      0.0
2020-01-23      0.0
2020-01-24      0.0
2020-01-25      0.0
2020-01-26      0.0
              ...
2020-03-20    244.0
2020-03-21    307.0
2020-03-22    417.0
2020-03-23    557.0
2020-03-24    706.0
Name: US, Length: 63, dtype: float64

In [96]:
# deaths_g.to_csv("deaths_g-3-24.csv")